body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

img {
    margin: 3%;
    width: 7%;
    height: 5%;
}

header {
    border-bottom: 0.1em solid black;
    flex-direction: row-reverse;
    top: 0;
}

header, footer {
    background-color: white;
    position: fixed;
}

footer {
    justify-content: space-between;
    bottom: 0;
}

article, footer {
    border-top: 0.1em solid black;
}

h1 {
   font-size: 3.6em; 
}

article img {
    margin: 0px;
}

article, article img, .comentarios, .flexPattern {
    width: 100%;
}

.curtidas {
    font-size: 2em;
}

p {
    font-size: 1.3em;
    opacity: .6;
}

span {
    font-weight: bold;
}

.comentarios {
    font-size:10em;
}

.flexPattern, .topoartigo, .botoes2 {
    display: flex;
}

.topoartigo, .botoes2, footer {
   align-items: center;
}

nav {
    margin-top: 7em;
    justify-content: space-between;
    overflow-x:scroll;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 1px solid black;
}

nav div {
    margin: 0em 0.5em 0em 0.5em;
    white-space: nowrap; 
}

nav div img {
    border: 10px double #c20d7c;
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.status {
    border: 10px double #c20d7c;
}

.BFF {
    border-color: green;
}

.bottom {
    margin-bottom: 10em;
}

.bola {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.pontos {
    transform: rotate(90deg);
}

.pontos, .favorito {
    margin-left: 50%;
}

#logo {
    margin-right: 28%;
    width: 30%;
}

@media only screen and (min-device-width: 900px) {
    .tamanho, footer, header {
        width: 900px !important;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}