body {
    font-family: 'Roboto', sans-serif;
}

.tamanho, footer {
    background-color: white;
}

header, footer, .perfil, .destaques, .botoes {
    justify-content: space-evenly;
}

header, footer, .perfil, .bio, .botoes, .bolinhas, .destaques, .botoespr, .botoespr div, .fotos {
    display: flex;
}

footer, .perfil, .bolinhas, .botoespr, .botoespr div, header {
    align-items: center;
}

header img {
    width: 4.6%;
    margin-right: 1%;
    height: 3.2%;
} 

header h1 {
    margin-right: 64%;
    font-size: 240%;
}

h1 {
    font-size: 200%;
}

footer img {
    width: 50px;
    height: 50px;
}

h3 {
    opacity: .6;
}

h3, .bio p {
    font-size: 130%;
    margin-top: -2%;
}

h2 {
    font-weight: 600;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    padding: 0.8em;
}

.perfilBaixo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.perfil {
    margin-top:3%;
    text-align: center;
}

.post p, .followers p {
    font-size: 220%;
}

.botoes, .destaques {
    font-weight: bold;
    font-size: 2em;
}

.minhafoto, .bolinhas img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: -8%;
}

.emvolta img{
    border: 10px double black;

}

.bio {
    flex-direction: column;
    font-size: 1.4em;
    margin-left: 0.6%;
    padding: 1%;
}

.botoes p {
    border-radius: 10%;
    border: 1px solid black;
    padding: 1% 3% 1% 3%;
}

.bolinhas {
    flex-direction: column;
    margin-top: 1%;
}

.as, header {
    border-bottom: 1px solid black;
}

.botoespr {
    padding: 1%;
}

.botoespr div img {
    width: 10%;
}

.botoespr div {
    justify-content: center;
    width: 50%;
}

.fotos {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30%;
}

.fotos img {
    width: 293px;
    height: 293px;
    margin-bottom: 2%;
}

@media only screen and (min-device-width: 1000px) {
    .tamanho, footer {
        width: 1000px;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}